@import url('https://fonts.googleapis.com/css?family=Numans');

.loginstyle.container{
background-image: url('../../img_background/263722885_453512812783277_6109106326787766881_n.png');
background-size: cover;
background-repeat: no-repeat;
height: 1000px;
}
.name{
    font-size: 42px;
    font-weight: bold;
    color: white;
}
.container{
height: 100%;
text-align: center;

}

.card{
height: 370px;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
position: relative;
top: 100px;
left: 800px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{

color: white;
text-align: center;
text-decoration-line:underline;

}


.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}



.login_btn{
color: white;
background-color: #3190C5;
width: 310px;
height: 30px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}


.input-group-prepend{
 padding-top: 20px;
 
}

input{
    width: 300px;
    height: 30px;
}

.switch {
    margin-right: 180px;
    display: flex;
    
}

.switch p{
    color: white;
    font-size: 13px;
}
    
 a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.card-footer{
position: relative;
top: 10px;
left: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 5px;
top: 5px;
}


.login{
    width: 10px;
    height: 10px;
}